# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=laboratory

# Brevo Mailer
BREVO_API_KEY=Brevo_API_Key
MAIL_FROM_EMAIL=email
MAIL_FROM_NAME=LabSync System
MAIL_ENABLED=true

# Text.lk SMS
TEXTLK_API_TOKEN=TextLK_API_Token
TEXTLK_SENDER_ID=TextLKDemo
TEXTLK_SMS_ENDPOINT=https://app.text.lk/api/http/sms/send
SMS_ENABLED=false
