:root {
    --primary-color: #3DBDEC;
    --secondary-color: #ffffff;
    --font-color: #000000;
    --background-color: #F5F6FA;
    --boder:#4F7A96;
}

.nav-bar-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-line {
    background: var(--secondary-color);
    padding: 2px 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 1px 2px var(--primary-color);
    margin-bottom: 5px;
    width: fit-content;
    background-color: var(--background-color);
}

.navItem {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 500;
}
.navItem {
    text-decoration: none;
    color: #000000;
}

.navItem:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}
.navItem.active {
    background: var(--primary-color);
}
.section {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;

    min-height: 300px;
}
.section h2 {
    margin-top: 0;
    color: var(--font-color);
}
.user-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading-row{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

